<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="rg2_inertial" params="mass">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia ixx="1.0e-3" ixy="1.0e-6" ixz="1.0e-6" iyy="1.0e-3" iyz="1.0e-6" izz="1.0e-3"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="rg2_mesh_link" params="name visual collision rgba mass">
    <link name="${name}">
      <xacro:rg2_inertial mass="${mass}"/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="$(find ur3e_gazebo_sim)/meshes/rg2/visual/${visual}.stl"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="${rgba}"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="$(find ur3e_gazebo_sim)/meshes/rg2/collision/${collision}.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="rg2_fixed" params="prefix parent">
    <xacro:rg2_mesh_link
      name="${prefix}onrobot_rg2_base_link"
      visual="base_link"
      collision="base_link"
      rgba="0.80 0.80 0.80 1.0"
      mass="0.78"/>

    <joint name="${prefix}tool0-rg2_base" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}onrobot_rg2_base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:rg2_mesh_link
      name="${prefix}left_outer_knuckle"
      visual="outer_knuckle"
      collision="outer_knuckle"
      rgba="0.80 0.80 0.80 1.0"
      mass="0.05"/>
    <joint name="${prefix}left_outer_knuckle_joint" type="fixed">
      <parent link="${prefix}onrobot_rg2_base_link"/>
      <child link="${prefix}left_outer_knuckle"/>
      <origin xyz="0 -0.017178 0.125797" rpy="0 0 0"/>
    </joint>

    <xacro:rg2_mesh_link
      name="${prefix}left_inner_knuckle"
      visual="inner_knuckle"
      collision="inner_knuckle"
      rgba="0.80 0.80 0.80 1.0"
      mass="0.05"/>
    <joint name="${prefix}left_inner_knuckle_joint" type="fixed">
      <parent link="${prefix}onrobot_rg2_base_link"/>
      <child link="${prefix}left_inner_knuckle"/>
      <origin xyz="0 -0.007678 0.142297" rpy="0 0 0"/>
    </joint>

    <xacro:rg2_mesh_link
      name="${prefix}left_inner_finger"
      visual="inner_finger"
      collision="inner_finger"
      rgba="0.08 0.08 0.08 1.0"
      mass="0.05"/>
    <joint name="${prefix}left_inner_finger_joint" type="fixed">
      <parent link="${prefix}left_outer_knuckle"/>
      <child link="${prefix}left_inner_finger"/>
      <origin xyz="0 -0.039592 0.038177" rpy="0 0 0"/>
    </joint>

    <xacro:rg2_mesh_link
      name="${prefix}right_outer_knuckle"
      visual="outer_knuckle"
      collision="outer_knuckle"
      rgba="0.80 0.80 0.80 1.0"
      mass="0.05"/>
    <joint name="${prefix}right_outer_knuckle_joint" type="fixed">
      <parent link="${prefix}onrobot_rg2_base_link"/>
      <child link="${prefix}right_outer_knuckle"/>
      <origin xyz="0 0.017178 0.125797" rpy="0 0 3.141592653589793"/>
    </joint>

    <xacro:rg2_mesh_link
      name="${prefix}right_inner_knuckle"
      visual="inner_knuckle"
      collision="inner_knuckle"
      rgba="0.80 0.80 0.80 1.0"
      mass="0.05"/>
    <joint name="${prefix}right_inner_knuckle_joint" type="fixed">
      <parent link="${prefix}onrobot_rg2_base_link"/>
      <child link="${prefix}right_inner_knuckle"/>
      <origin xyz="0 0.007678 0.142297" rpy="0 0 3.141592653589793"/>
    </joint>

    <xacro:rg2_mesh_link
      name="${prefix}right_inner_finger"
      visual="inner_finger"
      collision="inner_finger"
      rgba="0.08 0.08 0.08 1.0"
      mass="0.05"/>
    <joint name="${prefix}right_inner_finger_joint" type="fixed">
      <parent link="${prefix}right_outer_knuckle"/>
      <child link="${prefix}right_inner_finger"/>
      <origin xyz="0 -0.039592 0.038177" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}gripper_tcp"/>
    <joint name="${prefix}tcp_joint" type="fixed">
      <parent link="${prefix}onrobot_rg2_base_link"/>
      <child link="${prefix}gripper_tcp"/>
      <origin xyz="0 0 0.218" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
